adm/root.mk
*.pyc
build
dist
*.egg-info
.project
.pydevproject
.settings
doc2/_build
doc/_build
.coverage
coverage
*.plugin
doc/utilities.md
plugins/*/python3_virtualenv/
plugins/*/.autorestart_excludes
plugins/*/.autorestart_includes
**/__pycache__
plugins/switch/local
plugins/switch/python3_virtualenv_sources/src
doc/layer_*.md
doc/layer_*.rst
doc/plugin.rst
