adm/root.mk
*.pyc
build
dist
*.egg-info
.project
.pydevproject
.settings
doc2/_build
doc/_build
.coverage
coverage
*.plugin
doc/utilities.md
plugins/*/python3_virtualenv/
plugins/*/.autorestart_excludes
plugins/*/.autorestart_includes
**/__pycache__
layers/*/cache
plugins/switch/local
plugins/switch/python3_virtualenv_sources/src
plugins/mqtt_listener/local
plugins/mqtt_listener/python3_virtualenv_sources/src
plugins/amqp_listener/local
plugins/amqp_listener/python3_virtualenv_sources/src
doc/layer_*.md
doc/layer_*.rst
doc/plugin.rst
doc/api
doc/configure_a_metwork_package.md
doc/configure_a_metwork_package.rst
doc/configure_metwork_repo.md
doc/configure_metwork_repo.rst
doc/install_a_metwork_package.md
doc/install_a_metwork_package.rst
doc/mfdata_additional_tutorials.rst
doc/mfdata_how_it_works.rst
doc/mfdata_and_magic.rst
doc/mfdata_create_plugins.rst
doc/mfdata_debug_plugin.rst
doc/mfdata_deploy_plugin.rst
doc/mfdata_intro.rst
doc/mfdata_load_env.rst
doc/mfdata_log.rst
doc/mfdata_miscellaneous.rst
doc/mfdata_quick_start.rst
doc/mfdata_tuning_monitoring.rst
doc/plugins_guide.md
doc/plugins_guide.rst
doc/CHANGELOG*.md
doc/CHANGELOG*.rst
doc/changelogs.rst
.idea
doc/components.*
doc/installation_guide.*
doc/README.*
